h4 {
    color: #28a745 !important;
    padding-left: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.carousel-item img {
    border-radius: 10px;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}